@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
/* ## Colors */

/* ### Primary */
--light-red: hsl(356, 100%, 66%);/* (CTA text) */
--very-light-red: hsl(355, 100%, 74%);/* (CTA hover background) */
--very-dark-blue: hsl(208, 49%, 24%);/* (headings) */

/* ### Neutral */

--white: hsl(0, 0%, 100%);/* (text) */
--grayish-blue: hsl(240, 3%, 79%);/* (footer text) */
--very-dark-grayish-blue: hsl(207, 13%, 34%);/* (body copy) */
--very-dark-black-blue: hsl(240, 10%, 16%);/* (footer background) */

/* ### Gradient */

/* Background gradient - Intro/CTA mobile nav: */
--very-light-red: hsl(13, 100%, 72%);
--light-red: hsl(353, 100%, 62%);
--gradient-intro: linear-gradient(to right, var(--very-light-red), var(--light-red));

/* Background gradient - body: */
--very-dark-gray-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);
--gradient-body: linear-gradient(to right, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));

/* ## Typography */
--ff-prim: "Ubuntu", sans-serif;
--ff-sec: "Overpass", sans-serif;

/* - Font size */
--fs-400: 1rem;

/* MAX WIDTH */
--max-width: 1000px;
}


*, *::after, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    font-size: inherit;
}
body{
    background-color: var(--white);
    font-family: var(--ff-prim);
    font-size: var(--fs-400);
}
ul{
    list-style: none;
}

/************ Primary Navigation ************/
.prim-nav{
    padding-top: 2rem;
    background: transparent;
    height: 5rem;
    z-index: 50;
    position: fixed;
    width: 100%;
    z-index: 800;
}
.prim-nav__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}
.prim-nav__nav-toggle{
    position: relative;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}
.nav__burger,
.nav__close{
    color: var(--white);
    font-size: 1.5rem;
    position: absolute;
    transition: opacity .3s ease;
}
.nav__close{
    opacity: 0;
}
.nav__burger{
    opacity: 1;
}
.prim-nav__menu{
    position: fixed;
    top: 5rem;
    right: 1rem;
    left:1rem;
    background-color: var(--white);
    text-align: center;
    transform: translateX(calc(100% + 1rem));
    overflow: hidden;
    transition: transform 400ms ease-in;
    border-radius: .345rem;
    z-index: 900;
}
.show-icon{
    opacity: 0;
}
.show{
    transform: translateX(0);
}
.prim-nav__list{
    width: 100%;
    text-align: center;
    padding-block: 1rem;
}
.prim-nav__dropdown{
    background-color: var(--white);
    padding-block: 1rem;
    display: block;
    width: calc(100% - 2rem);
    margin: 0 auto;
    border: 0;
    cursor: pointer;
}
.prim-nav__dropdown > span {
    font-weight: 600;
    margin-left: 1.2rem;
}
.iconToggle {
    /* color: var(--light-red); */
    margin-left: .5rem;
    transition: transform .4s;
}
.iconToggle--transform {
    transform: rotate(0.5turn);
}
.prim-nav__dropdown-list{
    width: calc(100% - 2rem);
    margin-inline: auto;
    border-radius: .345rem;
    background-color: buttonface;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s ease-in-out, height .3s ease-in-out;
}
.toggle--dropdown{
    opacity: 1;
    height: 100%;
}
.prim-nav__dropdown-link{
    text-decoration: none;
    display: block;
    padding-block: 1rem;
    color: var(--very-dark-black-blue);
}
hr{
    width: calc(100% - 2rem);
    background-color: buttonface;
    height: 2px;
    border: none;
    margin-block: 1rem;
    margin-inline: auto;
}
.prim-nav__button-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-400);
    color: var(--white);
    margin-block: 1rem;
    
}
.prim-nav__button-container .prim-nav__dropdown-link{
    font-size: var(--fs-400);
}
/************ BUTTON ************/
.button {
    padding: .75rem 1.5rem;
    border-radius: 25px;
    max-width: fit-content;
    font-size: var(--fs-400);
    font-weight: 600;
    text-decoration: none;
    min-width: fit-content;
    transition: all 200ms ease-in-out;
}
.button--text-light{
    color: var(--white);
}
.button--bg-light{
    background-color: var(--white);
}
.button--bdr-light{
 border: 2px solid var(--white);
}
.button--text-red{
    color: var(--light-red);
}
.button--gradient {
    background: var(--gradient-intro);
}
.signup__button:hover,
.login__button:hover{
    background: var(--very-light-red);
}

.login__button:hover{
    color: var(--white);
}
/* DOWN AND UP ARROW TOGGLE*/
.show--on-desktop{
    display: none;
}

/************ INTRO SECTION *************/
.intro{
    color: var(--white);
    background: var(--gradient-intro);
    height: 80vh;
    border-radius: 0 0 0 100px / 0 0 0 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
}
.intro__container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: 1rem;
    z-index: 100;
}
.intro__title{
    font-size: clamp(2.3rem, 5vw, 5rem);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    z-index: 30;
}
.intro__subtitle{
    font-size: clamp(1.3rem, 4vw, 1.5rem);
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
    z-index: 30;
}
.intro__button-wrapper{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    z-index: 10;
}
.intro__start-button:hover{
    color: var(--white);
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid transparent;
}
.intro__lm-button:hover{
    color: var(--light-red);
    background: var(--white);
    border: 2px solid transparent;
}

/************* DESIGN SECTION ***************/

.design {
    margin-bottom: 18rem;
}
.design__container,
.laptop__container{
    text-align: center;
    margin-inline: 1.5rem
}
.design__image-wrapper,
.laptop__image-wrapper {
    margin-bottom: 2rem;
}
.design__image,
.laptop__image-mobile{
    width: 100%;
}
.design__text-wrapper,
.laptop__text-wrapper{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}
.design__heading,
.laptop__heading{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.design__card-title,
.laptop__card-title{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--very-dark-blue);
}
.design__card-text,
.laptop__card-text{
    font-weight: 100;
    line-height: 1.8rem;
}

/************ INFRA SECTION  ************/
.infra{
    position: relative;
    color: var(--white);
    margin-bottom: 3rem;
    z-index: 200;
}
.infra__image{
    width: 100%;
    margin-bottom: -150px;
    z-index: 200;
    position: absolute;
    top: -30%;
}
.infra__text-wrapper{
    background: var(--gradient-body);
    border-radius: 0 100px 0 100px;
    height: 80vh;
    overflow: hidden;
    position: relative;
    z-index: 100;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 2rem;
    text-align: center;
}
.infra__heading{
    font-size: 1.8rem;
    font-weight: 500;
    z-index: 60;
    padding-top: 8rem;
}
.infra__text{
    margin: 0 1rem;
    font-weight: 100;
    line-height: 1.8rem;
}
.infra__text-image{
    position: absolute;
    width: 100%;
    top: -20%;
    z-index: 30;
}
.infra__text-image-circle {
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    z-index: 1000;
}

/************** LAPTOP SECTION *****************/
.laptop {
    margin-bottom: 3rem;
}

/************* FOOTER SECTION ****************/
.footer {
    background-color: var(--very-dark-black-blue);
    border-radius: 0 100px 0 0;
}
.footer__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding-block: 4rem;
}
.footer_column{
    margin-bottom: 1rem;
}
.footer__nav-list{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.footer__nav-title{
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer__link{
    text-decoration: none;
    color: var(--grayish-blue);
}
.footer__link:hover {
    text-decoration: underline;
}
/************  ************/
/************ MEDIA QUERIES ************/
/************  ************/
/************ PRIMARY NAVIGATION MEDIA QUERY ************/
@media screen and (min-width: 768px) {
    /************ PRIMARY NAVIGATION MEDIA QUERY ************/
    /* DOWN AND UP ARROW TOGGLE*/
    .hide--on-desktop{
        display: none;
    }
    .show--on-desktop{
        display: block;
    }
    .prim-nav__nav-toggle{
        display: none;
    }
    .prim-nav__nav{
        max-width: var(--max-width);
        margin-inline: 1rem;
    }
    .prim-nav__logo-container{
        margin-right: clamp(1rem, 4vw, 3rem);
    }
    .prim-nav__menu{
        all: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .prim-nav__dropdown-container{
        position: relative;
    }
    .prim-nav__dropdown{
        background-color: transparent;
        width: 100%;
        color: var(--white);
        padding-block: 0;
        display: flex;
        align-items: center;
        border: 0;
        cursor: pointer;
    }
    .prim-nav__dropdown:hover{
        text-decoration: underline;
    }
    .prim-nav__dropdown-list{
        position: absolute;
        top: 2rem;
        left: 0;
        width: 140%;
        display: flex;
        flex-flow: column;
        height: fit-content;
        width: 200px;
        text-align: left;
        padding: 1rem 2rem 1rem 1rem;
        background-color: var(--white);
    }
    .prim-nav__dropdown-link{
        padding: .5rem;
        color: var(--very-dark-grayish-blue);
    }
    .prim-nav__dropdown-link:hover{
        font-weight: 600;
    }
    .prim-nav__list{
        display: flex;
    }
    hr{
        display: none;
    }
    .prim-nav__button-container{
        margin: 0;
        flex-flow: row;
        margin-right: 1rem;
    }
    .prim-nav__button-container a{
        color: var(--white);
    }
    
}
/************ PRIMARY NAVIGATION MEDIA QUERY ************/
@media screen and (min-width: 1024px){
    /************ PRIMARY NAVIGATION MEDIA QUERY ************/
    .prim-nav__nav{
        margin-inline: auto;
        max-width: var(--max-width);
        padding-inline: 1rem;
    }
}
/************ INTRO MEDIA QUERY ************/
@media screen and (min-width: 768px)  {
     /************ INTRO MEDIA QUERY ************/
    .intro{
        margin-bottom: 0;
    }
    .intro__bg-image{
        width: 250%;
        z-index: 0;
        position: absolute;
        top: -50%;
        left: -19%;
        rotate: 25deg;
    }
}
/************ INTRO MEDIA QUERY ************/
@media screen and (max-width: 767px) {
    /************ INTRO MEDIA QUERY ************/
    .intro__bg-image{
        position: absolute;
        inset: 0;
        top: -0%;
        left: -80%;
        width: 380%;
        rotate: 30deg;
    }
    .design__image-wrapper{
        background-image: url('../images/illustration-editor-mobile.svg');
        width: 100%;
        background-repeat: no-repeat;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
    }
    .design__image {
        display: none;
    }
    .laptop__image-desktop{
        display: none;
    }
}
/************ INTRO MEDIA QUERY ************/
@media screen and (min-width: 1024px) {
    /************ INTRO MEDIA QUERY ************/
    .intro__bg-image{
        width: 250%;
        z-index: 0;
        position: absolute;
        top: -90%;
        left: -20%;
        rotate: 25deg;
    }
}
/************ INTRO MEDIA QUERY ************/
@media screen and (min-width: 1180px) {
    /************ INTRO MEDIA QUERY ************/
    .intro__bg-image{
        width: 250%;
        z-index: 0;
        position: absolute;
        top: -100%;
        left: -20%;
        rotate: 25deg;
    }
}
/************ INTRO MEDIA QUERY ************/
@media screen and (min-width: 1366px) {
    /************ INTRO MEDIA QUERY ************/
    .intro__bg-image{
        width: 250%;
        z-index: 0;
        position: absolute;
        top: -90%;
        left: -19%;
        rotate: 25deg;
    }
}
/********** DEsign MEDIA QUERY **************/
@media screen and (min-width: 576px) {
    /********** DEsign MEDIA QUERY **************/
    main{
        padding-top: 6rem;
        overflow: hidden;
        max-width: 1440px;
        margin: 0 auto;
    }
    .design__content-container{
        all: unset;
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 7rem;
        max-width: var(--max-width);
        margin: 0 auto;
    }
    .design__heading{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: -4rem;
    }
    .design__image-wrapper{
        flex: 1;
        position: relative;
        aspect-ratio: 1/1;
    }
    .design__text-wrapper{
        flex: 1;
    }
    .design__image{
        position: absolute;
        width: 175%;
        top: -170px;
        right: -420px;
    }
    .design__card{
        text-align: left;
    }
}
/**************** INFRA MEDIA QUERY ******************/
@media screen and (min-width: 576px){
    /**************** INFRA MEDIA QUERY ******************/
    .infra{
        all: unset;
        background: var(--gradient-body);
        border-radius: 0 100px 0 100px;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .infra__container{
        all: unset;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: var(--max-width);
    }
    .infra__image-wrapper{
        all: unset;
        flex: 1;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .infra__image{
        all: unset;
        width: 105%;
        margin-bottom: -20px;
    }
    .infra__text-wrapper{
        all: unset;
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        aspect-ratio: 1/1;
        width: 100%;
        color: var(--white);
        text-align: left;
    }
    .infra__heading{
        font-size: 2.2rem;
        padding: 0;
    }
    .infra__text-image-circle{
        display: none;
    }
    .infra__text{
        margin: 0;
        max-width: 60ch;
    }
}
/*********** LAPTOP MEDIA QUERY  ***********/
@media screen and (min-width: 768px){
    /*********** LAPTOP MEDIA QUERY  ***********/
    .laptop{
        margin-top: 9rem;
        max-width: 1440px;
        position: relative;
    }
    .laptop__container{
        display: grid;
        place-items: center;
    }
    .laptop__content-container{
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        max-width: var(--max-width);
        min-height: 700px;
    }
    .laptop__image-wrapper{
        flex: 1;
        aspect-ratio: 1/1;
        width: 100%;
        min-width: 320px;
    }
    .laptop__image-mobile{
        display: none;
    }
    .laptop__image-desktop{
        position: absolute;
        inset: 0;
        top: -20%;
        left: -20%;
        width: 70%;
        margin-block: auto;
    }
    .laptop__text-wrapper{
        flex: 1;
        aspect-ratio: 1/1;
        width: 100%;
        min-width: 200px;
    }
}
/*********** LAPTOP MEDIA QUERY  ***********/
@media screen and (max-width: 767px){
    /*********** LAPTOP MEDIA QUERY  ***********/
    .laptop__content-container{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        max-width: var(--max-width);
    }
    .laptop__image-desktop{
        display: none;
    }
}
/*********** FOOTER MEDIA QUERY  ***********/
@media screen and (min-width: 576px){
    .footer{
        padding-inline: clamp(1rem, 4vw, 4rem);
    }
    .footer__container{
        max-width: var(--max-width);
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        text-align: left;
        padding-inline: 1rem;
    } 
}